<!DOCTYPE html>
<html>
<head>
    <title>Mailing ajout série</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body, td {
            font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
            font-size: 14px;
        }
        body {
            background-color: #000000;
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }
        h2 {
            padding-top: 12px;
            color: #ffffff;
            font-size: 22px;
        }
    </style>

</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#000000">
    <tbody>
    <tr>
        <td align="center" bgcolor="#000000">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w640" width="640" height="10"></td>
                </tr>
                <tr>
                    <td class="w640" width="640" height="10"></td>
                </tr>


                <!-- entete -->
                <tr class="pagetoplogo">
                    <td class="w640" width="640">
                        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td class="w30" width="30"></td>
                                <td class="w580" width="580" valign="middle" align="left">
                                    <div class="pagetoplogo-content">
                                        <h2 align="center"> Wild Series </h2>
                                    </div>
                                </td>
                                <td class="w30" width="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!-- separateur horizontal -->
                <tr>
                    <td class="w640" width="640" height="1" bgcolor="#d7d6d6"></td>
                </tr>

                <!-- contenu -->
                <tr class="content">
                    <td class="w640" class="w640" width="640" bgcolor="#ffffff">
                        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td class="w30" width="30"></td>
                                <td class="w580" width="580">
                                    <!-- une zone de contenu -->
                                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="w580" width="580">

                                                <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                                                    Une nouvelle série vient d'être ajoutée : {{ program.title }}</h2>

                                                <div align="left">
                                                    Nous vous informons qu'une nouvelle série vient d'être ajoutée à Wild Series. Vous pouvez consulter sa fiche dès maintenant : <a href="localhost:8000{{ path('program_show', {'slug': program.slug}) }}"> Voir la nouvelle série </a>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="w580" width="580" height="60" bgcolor="#ffffff"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                            </tbody>
                        </table>
                    </td>
                </tr>



                <!-- pied de page -->
                <tr class="pagebottom">
                    <td class="w640" width="640">
                        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#c7c7c7">
                            <tbody>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            <tr>
                                <td class="w30" width="30"></td>
                                <td class="w580" width="580" valign="top">
                                    <p align="right" class="pagebottom-content-left">
                                        <span style="color:#255D5C;">Créé pour Wild Series</span></a>
                                    </p>
                                </td>

                                <td class="w30" width="30"></td>
                            </tr>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="w640" width="640" height="60"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>