{% extends 'base.html.twig' %}

{% block show %}
<a href="{{ path('wild_show', {'slug':'ma-superbe-serie'}) }}">Afficher la page ma superbe serie</a>
<a href="{{ path('wild_show', {'slug':'house-of-cards'}) }}">Afficher la page house of cards</a>

<h1>{{ slug }}.</h1>
{% endblock %}