@import "~bootstrap/scss/bootstrap";

$red: #db0000;
$black: #000000;
$blanc: #ffffff;
$gris: #686868;
$sang: #831010;

.navbar {
  background-color: $red;
}

body {
  background-color: $black;
  color:$blanc;
}

.dropdown-menu {
  background-color: $red;
}
.btn {
  background-color: $gris;
}

.img_show {
  height: 35rem;
}