@import "~bootstrap/scss/bootstrap";
body {
    background-color:gray;
}
  $primary: #db0000;
  $secondary: #000000;
  $thirdly: #ffffff;
  $fourthly: #564d4d;
  $fifthly: #84c318;

.navbar {
  background-color: $primary;
}

