@import "~bootstrap/scss/bootstrap";

$red: #db0000;
$black: #000000;
$blanc: #ffffff;
$gris: #564d4d;
$sang: #831010;

.navbar {
  background-color: $red;
}

body {
  background-color: $red;
  color:$blanc;
}

.dropdown-menu {
  background-color: $red;
}